@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:400,700,900&display=swap');
@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');

/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;*/
* {
  padding: 0;
  margin: 0;
}
/** {
  border: 1px black solid
}*/
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  background-color: #EEEFF2;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 5px 0;
}
p {
  margin: 30px;
}
.head_botton {
  color: white;
  background-color: #4267B2;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 400;
  border-radius: 2px;
  display: inline-block;
}

.head_botton:hover {
  background-color: #2a467a;
}

.card {
  background-color: white;
  margin: 30px auto;
  text-align: center;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  padding: 1.5em;
  border-radius: 3px;
}

.round_image {
  border-radius: 50%;
  width: 120px;
}

.container {
  width: 800px;
  margin: 0 auto;
}


li {
  display: inline;
}

li a {
  color: #4267B2;
  font-size: 2em;
  text-decoration: none;
  padding: 0 5px;
}

li a:hover {
  color: #2a467a;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}





